html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
/*   background-color: #ffe7c5; */
  background-image:url(https://miro.medium.com/max/800/1*wcEYa9AjnMZxXAau2iuhYw.png);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
